<md-card class="header-card">
  <md-card-header>
    <md-card-title>{{ employee.employeeCodeClient }} ({{ employee.employeeCode }}) {{employee.fname}} {{employee.lname}}
      <md-progress-bar *ngIf="timesheetsLoading"
        class="example-margin"
        [color]="color"
        [mode]="mode">
      </md-progress-bar>
    </md-card-title>
  </md-card-header>
  <md-card-content>
    <div *ngIf="timesheetsLoading; then loader else times"></div>

    <ng-template #loader>
      <div>
        <table [ngClass]="tableClass">
          <tr>
            <th>status</th>
            <th>labour date</th>
            <th>Start</th>
            <th>Break</th>
            <th>Finish</th>
            <th *ngFor="let rt of columnHeaders">
              {{ rt.Description }}</th>
            <th>Bill value</th>
            <th>Pay value</th>
          </tr>
          <tr *ngFor="let d of wfDays">
            <td></td>
            <td>{{ d | date:"EEE dd/MM/yyyy" }}</td>
            <td>{{ fake.time }}</td>
            <td>{{ fake.number }}</td>
            <td>{{ fake.time }}</td>
            <td *ngFor="let rt of columnHeaders">
              {{ fake.time }}
            </td>
            <td>{{ fake.textMedium }}</td>
            <td>{{ fake.textMedium }}</td>
          </tr>
        </table>
      </div>
    </ng-template>

    <ng-template #times>
      <div>

        <table [ngClass]="tableClass">
          <tr>
            <th>status</th>
            <th>labour date</th>
            <th>Start</th>
            <th>Break</th>
            <th>Finish</th>
            <th *ngFor="let rt of columnHeaders">{{ rt.Description }}</th>
            <th>Bill value</th>
            <th>Pay value</th>
          </tr>
          <tr *ngFor="let t of timesheets">
            <td>{{ t.timesheet.LockBatchID }}</td>
            <td>{{ t.timesheet.Date | date:"EEE dd/MM/yyyy" }}</td>
            <td>{{ t.timesheet.Date | date:"HH:mm" }}</td>
            <td>{{ 0 }}</td>
            <td>{{ t.timesheet.Date | date:"HH:mm" }}</td>
            <td *ngFor="let rt of columnHeaders">
              {{ t.Total.Breakdown | rateType: rt.RateTypeID | decimalToTime }}
            </td>
            <td>{{ t.Total.BillValue | currency:'ZAR':true }}</td>
            <td>{{ t.Total.PayValue | currency:'ZAR':true }}</td>
          </tr>
        </table>
      </div>
    </ng-template>
  </md-card-content>
</md-card>




