<md-card class="header-card">
  <md-card-header>
    <md-card-title>{{ employee.employeeCodeClient }} ({{ employee.employeeCode }}) {{employee.fname}} {{employee.lname}}
      <md-progress-bar *ngIf="timesheetsLoading"
        class="example-margin"
        [color]="color"
        [mode]="mode">
      </md-progress-bar>
    </md-card-title>
  </md-card-header>
  <md-card-content>
    <app-wf-daily
      [timesheetsLoading]=timesheetsLoading
      [columnHeaders]=columnHeaders
      [timesheets]=timesheets
      [wfDays]=wfDays>
    </app-wf-daily>
  </md-card-content>
</md-card>




